h1{
    margin-top: 55px;
}
div.nav_fixed{
    width: 100%;
    height: 50px;
    background-color: sienna;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;

}

div.container1{
    background-color: salmon;
    width: 100%;
    height: 300px;
    position: relative;
}
div.container2{
    background-color: sandybrown;
    width: 400px;
    height: 200px;
    position: sticky;
    top: 50px;
    
}
div.box1{
    width: 100px;
    height: 100px;
    background-color: orchid;
    position: absolute;
    right: 50px;
}
div.box2{
    width: 200px;
    height: 200px;
    background-color: royalblue;
}
div.box3{
    width: 200px;
    height: 200px;
    background-color: hotpink;
}